.nav1{
  height: 100px;
}

.img-logo{
  min-height: 83px;
  width: 191px;
}

.space{
  justify-content: space-around!important;
}

.fondo{
  height: 500px;
  background-image: url("../img/rojo2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  & > .in-fondo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    padding: 2em 2em;
    color: $blanco;
    font-size: 2em;
    & > .button{
      border-radius: 20px;
      margin-top: 3em;
    }
  }
}
