$font-stack: 'Ek Mukta', sans-serif;
$primary-color: #333;
$blanco:  #ffffff;
$blanco2:  #909090;
$h3: #818080;
$rojo: #c92010;
$c0: #c1301b;
$c1: #2179c2;
$c2: #b6b01c;
$c3: #1ba31b;
$c4: #824d96;
$c5: #1bb5c2;
$c6: #4d8f6f;
$c7: #ca691b;
$c8: #3e8e7a;
