-var p1 = "Front Desk, con sus más de 160 opciones entre operativas,configuración y reportes, es a nivel de hoteles el más importante entre los módulos.  Una vez configurado el Front Parámetros, este módulo nos permite de una forma onfiguración y reportes, es a nivel de hoteles el más importante entre los módulos.  Una vez configurado el Front Parámetros, este módulo nos permite de una."
.box-contact
  form.form(action="" method="post")
    .field
      label.label Nombre
      .control
        input.input(type="text" name="nombre" placeholder="nombre")
    .field
      label.label Apellido
      .control
        input.input(type="text" name="nombre" placeholder="Apellido")
    .field
      label.label Telefono
      .control
        input.input(type="text" name="nombre" placeholder="Telefono")
    .field
      label.label Correo
      .control
        input.input(type="text" name="nombre" placeholder="Correo")
    //.field
      label.label Información
      .control
        textarea.w-full(name="informacion") 
    button.boton(type="submit" name="button") CONTACTENOS
