.pre-contact.columns.plr-3em.relative
  include box-contact.pug.jade
  .column
    h2.h2-contact No dudes en Contactarnos
    p.p-contact Contáctenos y obtenga una demostración personal para sus necesidades de gestión.
  .column
    
.columns.plr-3em
  .column
    .post-contact
      img.img-post-contact(src="img/logo-seven.png")
      .post-contact-title
        p #[strong Dirección:] 50 norte de la Iglesia Católica de Tibás, contiguo al Banco Popular.
        p #[strong Telefono:] (506) 2240-6585.
        p #[strong Email:] info@mysevensuite.com
  .column
