mixin as(x)
  each val,index in ["Integración","Nuestros Productos","Contactenos"]
    if(index === 0)
      a.nav-item(href="#{x}") #{val}
    else
      a.nav-item(href="#") #{val}
mixin navigation(className,url)
  nav.nav.nav1(class="#{className}")
    .nav-left
      a.nav-item(href="index.html")
        img(src="img/logo.png",alt="Atis",class="img-logo")
        
    span.nav-toggle
      each val in [1, 2, 3]
        span
    
    .nav-right.nav-menu.space
      +as(url)
